<%- include('partials/header.ejs') %>

	<body>
		<!-- <h1>Guia perguntas!</h1> -->
		<%- include('partials/navbar.ejs') %>
		<!-- <a href="/pergunta/3" class="btn btn-dark">Testar Link</a> -->
			<!-- <h1>Estilo do bootstrap</h1> -->
			<!-- <hr>
	<h3>Lista de perguntas</h3>

	<p>Nome:< %= nome % >
	</p>
	<p>Linguagem favorita:< %= lang % >
	</p>
	<p>Empresa:< %= empresa % >
	</p>
	<p>Inscritos no canal:< %= inscritos % >
	</p>

	< % if(msg==true){ % >
		<h3>Isso é uma msg de erro!</h3>
		< %} else { % >
			<h3>Nenhum erro!</h3>
			< %}% >

				< % produtos.forEach(function(produto) { % >
					<hr>
					<h3>
						< %= produto.nome % >
					</h3>
					<h4>
						< %= produto.preco % >
					</h4>
					< % }) % > -->

			<div class="container">
				<hr><h1>Perguntas</h1><hr>
				<a href="/perguntar" class="btn btn-dark">Perguntar</a><hr>
				<% perguntas.forEach(pergunta=> { %>
					<br>
					<div class="card">
						<div class="card-body">
							<p>
								<h3><%= pergunta.titulo %></h3>
							</p>
							<!-- <p><%= pergunta.descricao %></p> -->
						</div>
						<div class="card-footer">
							<a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
						</div>
					</div>

					<% }) %>
			</div>
	</body>

	<%- include('partials/footer.ejs') %>